* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    background-color: black;
    color: white;
}

.SectionContainer1 img {
    color: white;
}

.SectionContainer2 {
    padding: 4em;
    width: 90%;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2em;
}

.Container1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
    padding-bottom: 2em;

}

.Container2 {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-bottom: 12em;

}

.ImgBody {
    height: 6em;
}

.ProfilContainer2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4em;
    padding-left: 1em;
}

.ProfilContainer2 input {
    border-radius: 20%;
    border: black;
    background-color: black;
    height: 50%;
    padding-left: 1em;
}

.ProfilContainer2 button {
    background-color: #1d9bf0;
    border-radius: 30%;
    width: 5em;
    height: 3em;
    color: white;
    border: #1d9bf0;
}

.ProfilContainer2_item {
    display: flex;
    flex-direction: row;
    height: 100%;

}

.ProfilContainer2_ItemsBtn {
    display: flex;
    flex-direction: row;
    height: 30%;
    align-items: center;
    width: 100%;

}

.ProfilContainer2_itemOptions {
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: space-between;
}

.interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ProfilContainer_img {
    border-radius: 50%;
    height: 50%;


}

.IconsSections {
    display: flex;
    flex-direction: row;
    height: 3em;
    padding-right: 1em;
    justify-content: space-between;
}

.IconsSection1_imgProfil {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    height: 2em;
    padding-right: 1em;
}

.IconsSection1_More {
    display: flex;
    flex-direction: row;
    height: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.IconsSection1_btn {
    background-color: #1d9bf0;
    border: #1d9bf0;
    border-radius: 30%;
    width: 70%;
    height: 3em;
    align-items: center;
    padding-right: 1em;
    margin-bottom: 10em;
}

.Options {
    display: flex;
    flex-direction: row;
    padding-right: 3em;
}

.OptionsSection1 {
    display: flex;
    flex-direction: row;
    padding-right: 3em;
    padding-bottom: 1em;
}

/* .SectionContainer3_body{
} */
.OptionsSection3_Containers {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #202327;
    border-radius: 10%;
    width: 60%;
}
.InputBtn{
    display: flex;
    color:  #202327;
}
.SearchIcon{
border-radius: 50%;
width: 2em;
background-color: #202327 ;
border: #202327;
}
.SearchInput{
    background-color: #202327;
    border: #202327;
    padding-left: 1em;
    border-radius: 20%;

}
.FollowBtn{
    border-radius: 30%;
}
/* .moresAcces{
} */